---
import Base from '@layouts/Base.astro';
import Card from '@components/Card.astro';
import Footer from '@components/Footer.astro';
---

<Base title="Four Rays | Home">
  <main>
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true">
      <g fill="none" fill-rule="evenodd">
        <path d="m103 311 73.231-122L202 229.906 152.956 311zM290 389h43.05L367 451.518 343.614 483zM298.928 27 275 63.46 459.299 389 480 347.061zM250.622 230H202l71.663 121.013L388 352l-24.41-42.684-64.76.263z"/>
        <path d="m266.781 144-113.566.36L33 350.353l189.467.647-22.29-40.484H103.84l72.074-122.221H294z"/>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m251 231 48 79m0-.5h65M202 231l-49 80m141-122H176.01L103 311h96.835M219 63l75 125m-4 201h169.32L480 347.33 298.456 27"/>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M152.964 144 33 349.904 56.382 389H239m-85-244.5h114M460 389 275 64M33 350l189 1m96.36-122L202 230.06l71.41 120.9L388 352zM178 270l45 81m51 0 25-41m-59 79 57.264 96H344l-54.6-96"/>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M343.297 485 367 451.27 333 389"/>
        <path d="M219 63h55.808L298 27h-54.366z"/>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M219 63h55.808L298 27h-54.366zm-17 167-25-41"/>
      </g>
    </svg>
    
    <h1><span class="text-gradient">FOUR RAYS</span></h1>
    <p class="intro">
      An indie solopreneurship by <a href="https://redalemeden.com">Reda Lemeden</a> exploring platform-native app development and design.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
      href="/combolab"
      title="Combolab"
      body="A reference app for creating and sharing Street Fighter 6™ combos."
      image="combolab.png"
      />
      <Card
      href="mailto:contact@4rays.net"
      title="Contact"
      body="Feel free to email us if you have any inquiries."
      />
    </ul>
  </main>
  <Footer />
</Base>

<style>
  html {
    font-family: system-ui, sans-serif;
    background: var(--background-color);
  }

  main {
    color: var(--text-primary-color);
    font-size: 20px;
    line-height: 1.6;
  }

  .logo {
    display: block;
    width: 16rem;
    height: 16rem;
    margin: 3rem auto 0;
    stroke: var(--logo-color);
    stroke-width: 2px;
    stroke-dasharray: 200;
    stroke-dashoffset: 400;
    animation: outline 10s ease-out infinite;
  }

  .text-gradient {
    font-weight: 200;
    margin-top: .5em;
    display: block;
  }

  @keyframes outline {
    0% {
      stroke-dashoffset: 400;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 400;
    }
  }

  h1 {
    font-size: 1.8rem;
    letter-spacing: .6rem;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    margin-bottom: 3em;
  }

  .intro {
    margin-bottom: 2rem;
    border: 2px solid rgba(var(--accent), 25%);
    color: rgba(var(--accent));
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
  }

  .intro a {
    color: inherit;
    text-decoration: underline;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

</style>
