---
import { changeLanguage } from "i18next";
import Base from "@layouts/Base.astro";
import Card from "@components/Card.astro";
import Footer from "@components/Footer.astro";
import CompanyLogo from "@components/CompanyLogo.astro";

changeLanguage("en");
---

<Base title="Four Rays | Home">
  <main>
    <CompanyLogo />
    <h1><span class="text-gradient">FOUR RAYS</span></h1>
    <p class="intro">
      An indie solopreneurship focusing on platform-native <em>app development and design</em>.
      Currently developing products related to <em>video games</em> and <em>language learning</em>.
      </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="/combolab"
        title="Combolab"
        body="A reference app for creating and sharing Street Fighter 6™ combos."
        image="combolab.png"
      />
      <Card
        href="mailto:contact@4rays.net"
        title="Contact"
        body="Feel free to email us if you have any inquiries."
      />
    </ul>
  </main>
  <Footer />
</Base>

<style>
@custom-media --small-viewport (max-width: 38em);

html {
  font-family: system-ui, sans-serif;
  background: var(--background-color);
}

main {
  color: var(--text-primary-color);
  font-size: 1.2rem;
  line-height: 1.6;
}

.text-gradient {
  font-weight: 200;
  margin-top: .5em;
  display: block;
}

@keyframes outline {
  0% {
    stroke-dashoffset: 400;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 400;
  }
}

h1 {
  font-size: 1.8rem;
  letter-spacing: .6rem;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  margin-bottom: 3em;
}

.intro {
  border-radius: 8px;
  border: 2px solid rgba(var(--accent), 25%);
  color: rgba(var(--accent));
  letter-spacing: .1rem;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  text-align: center;

  em {
    text-decoration: underline;
  }

  @media (--small-viewport) {
    font-size: 1rem;
    padding: 1rem;
  }
}

.intro a {
  color: inherit;
  text-decoration: underline;
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
}
</style>
