---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 237, 103, 44;
    --background-color: #13151a;
    --card-color: #23262d;
    --text-primary-color: #fff;
    --logo-color: aliceblue;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --accent: 237, 103, 44;
      --background-color: #fff;
      --card-color: aliceblue;
      --text-primary-color: #23262d;
      --logo-color: #e6440e;
    }
  }

  html {
    font-family: system-ui, sans-serif;
    background: var(--background-color);
  }
</style>
