---
import Base from "./Base.astro";

const {title, description} = Astro.props.frontmatter || Astro.props;
---

<Base title={title} description={description} >
  <main class="prose w-full mx-auto sm:py-32 sm:px-10 py-16 px-5">
    <slot />
  </main>
</Base>
