---
import Base from "./Base.astro";

const {title, description} = Astro.props.frontmatter || Astro.props;
---

<Base title={title} description={description} >
  <main class="prose dark:prose-invert w-full mx-auto sm:py-32 sm:px-10 py-16 px-5">
    <slot />
  </main>
</Base>

<style>
:root {
  --background-color: #1e1f22;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
  }
}

html {
  background-color: var(--background-color);
}
</style>
